.company {
  text-align: center;
  margin-bottom: 9px;
  img {
    height: 50px;
  }    
}

.flex-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.ticket {
  line-height: 1;
  max-width: 180px;
  width: 180px;
}

.ticket-company {
  margin: 0 0 8px 0;
}

.msg-1 {
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3px;
}

.msg-2 {
  font-size: 9px;
  text-align: center;
  line-height: 1;
  margin-bottom: 2px;
}

.msg-3 {
  margin: 10px 0 4px 0;
  font-size: 9px;
  font-weight: 600;
  text-align: center;
}

.msg-4 {
  font-size: 9px;
  text-align: justify;
}

pre {
  font-size: 9px;
}

textarea {
  font-size: 12px;
  text-align: justify;
  line-height: 1;

}

img {
    max-width: inherit;
    width: inherit;
}

.example-card {
  max-width: 400px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.example-full-width {
  width: 100%;
}