<div class="wrapper" fxLayout.gt-sm="row" fxLayout="row" fxLayoutGap="16px">
	<div class="no-print" fxFlex.gt-sm="60%" fxFlex fxLayout="column" fxLayoutAlign="center center">
		<mat-card class="data-card">
			<mat-card-header>
				<mat-card-title>Datos de pago - SCOTIA</mat-card-title>
				<mat-card-subtitle>Introduce los datos para generar un voucher de pago</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<form class="data-form">
					<mat-form-field class="data-full-width" appearance="outline">
						<mat-label>Contenido</mat-label>
						<textarea
							matInput
							cdkTextareaAutosize
							cdkAutosizeMinRows="18"
							cdkAutosizeMaxRows="18"
							placeholder="Copie y pegue el contenido del correo."
							[ngModelOptions]="{standalone: true}"
							[ngModel]="content"
							(ngModelChange)="parseAmount($event)"></textarea>
					</mat-form-field>
					<mat-card-content class="mat-card-content">
						<div class="" fxLayout="row" fxLayoutGap="20px">
							<div fxFlex="30">
								<mat-form-field class="data-full-width" appearance="outline">
									<mat-label>Monto original</mat-label>
									<input matInput type="number" step=".5" [(ngModel)]="amount" name="amount">
								</mat-form-field>
							</div>
							<div fxFlex="20">
								<mat-form-field class="data-full-width" appearance="outline">
									<mat-label>Comisión</mat-label>
									<input matInput type="number" step=".5" [(ngModel)]="comission" name="comission">
								</mat-form-field>
							</div>
							<div fxFlex="35">
								<mat-form-field class="data-full-width" appearance="outline">
									<mat-label>Total</mat-label>
									<input matInput value="{{ amount + comission | number:'1.2-2' }}">
								</mat-form-field>
							</div>
						</div>
					</mat-card-content>
				  </form>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="primary" class="no-print" mat-button onclick="print()">IMPRIMIR</button>
			</mat-card-actions>
		</mat-card>
	</div>

	<div class="ticket">
		<div class="company">
        	<img [src]="'assets/img/scotia.png'" alt="">
		</div>
		<div class="ticket-company text-center">
			<div class="msg-1">CONSTANCIA DE PAGO</div>
			<div class="msg-2">Transacción exitosa</div>
		</div>
		<pre class="voucher-content">{{ content }}
Comisión:	S/ {{ comission | number:'1.2-2' }}
Total:	S/ {{ amount + comission | number:'1.2-2' }}</pre>
		<div class="ticket-bottom">
			<div class="msg-3 text-center">PAGO DE RECIBO SUJETO A COMISIÓN</div>
			<p class="msg-4 text-break">Antes de retirarse de la ventanilla revise sus datos y verifique su vuelto. Conserve su Constancia de Pago, acredita la transacción realizada.</p>          
		</div>
	</div>
</div>