@media print {    
    .no-print, .no-print * {
      display: none!important;
    }
  }

.voucher-content {
  font-size: 9px;
  font-family: 'Arial';
  line-height: 1;
  word-break: break-all;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
  
.msg-1 {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
  
.msg-2 {
  font-size: 10px;
  text-align: center;
  line-height: 1.5;
}

.msg-3 {
  margin-top: 10px;
  font-size: 9px;
  font-weight: 600;
  text-align: center;
}

.msg-4 {
  font-size: 9px;
  text-align: justify;
  line-height: 1.5;
}

.company {
  text-align: center;
  img {
    height: 23px;
  }    
}

.ticket-company {
  margin: 3px 0 7px 0;
}

.ticket {
  width: 180px;
  max-width: 180px;
}

.data-card {
  max-width: 400px;
}  

.data-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.data-full-width {
  width: 100%;
}