<mat-toolbar color="primary" class="modulos no-print" fxFlex="0 0 auto">
    <div fxFlex fxLayout fxLayoutAlign="flex-start">
        <span class=""><img [src]="'assets/img/logo.png'" alt="image"></span>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="center">
        <mat-nav-list fxLayout>
            <a mat-list-item [routerLink]="['inicio']" routerLinkActive="active"><span>INICIO</span></a>
        </mat-nav-list>
        <mat-nav-list fxLayout>
            <a mat-list-item [routerLink]="['generador-ticket-cp']" routerLinkActive="active"><span>TICKET CP</span></a>
        </mat-nav-list>
        <mat-nav-list fxLayout>
            <a mat-list-item [routerLink]="['generador-ticket']" routerLinkActive="active"><span>TICKET</span></a>
        </mat-nav-list>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <mat-nav-list fxLayout class="logout">
            <a mat-list-item><i class="material-icons">exit_to_app</i> Cerrar Sesión</a>
        </mat-nav-list>
    </div>
</mat-toolbar>