<mat-toolbar color="primary" class="modulos no-print" fxFlex="0 0 auto">
    <div fxFlex fxLayout fxLayoutAlign="flex-start">
        <span class=""><img [src]="'assets/img/logo.png'" alt="image"></span>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="center">
        <mat-nav-list fxLayout>
            <a mat-list-item [routerLink]="['ticket-luz-del-sur']" routerLinkActive="active"><span>LUZ DEL SUR</span></a>
        </mat-nav-list>
        <mat-nav-list fxLayout>
            <a mat-list-item [routerLink]="['ticket-bcp']" routerLinkActive="active"><span>TICKET BCP</span></a>
        </mat-nav-list>
        <!--mat-nav-list fxLayout>
            <a mat-list-item [routerLink]="['ticket-bbva']" routerLinkActive="active"><span>TICKET BBVA</span></a>
        </mat-nav-list-->
        <mat-nav-list fxLayout>
            <a mat-list-item [routerLink]="['ticket-ibk']" routerLinkActive="active"><span>TICKET IBK</span></a>
        </mat-nav-list>
        <mat-nav-list fxLayout>
            <a mat-list-item [routerLink]="['ticket-scotia']" routerLinkActive="active"><span>TICKET SCOTIA</span></a>
        </mat-nav-list>
        <mat-nav-list fxLayout>
            <a mat-list-item [routerLink]="['ticket-cell-power']" routerLinkActive="active"><span>CELL POWER</span></a>
        </mat-nav-list>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <mat-nav-list fxLayout class="logout">
            <a mat-list-item><i class="material-icons">exit_to_app</i> Cerrar Sesión</a>
        </mat-nav-list>
    </div>
</mat-toolbar>