<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
    <div class="ticket-data" fxFlex="60" fxLayoutAlign="center">
		<mat-card fxFlex="400px" fxFlex.xs="100">
            <mat-card-header>
                <mat-card-title>Datos de pago - Luz del Sur</mat-card-title>
                <mat-card-subtitle>Introduce los datos para generar un voucher de pago</mat-card-subtitle>
            </mat-card-header>
			<mat-card-content>
                <mat-form-field>
                    <mat-label>Número de suministro</mat-label>
                    <input matInput type="text" [(ngModel)]="supply" name="supply">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Número de operación</mat-label>
                    <input matInput type="text" [(ngModel)]="operation" name="operation">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nombre del cliente</mat-label>
                    <input matInput type="text" [(ngModel)]="name" name="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Monto (S/)</mat-label>
                    <input matInput type="number" step=".5" [(ngModel)]="amount" name="amount">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Comisión (S/)</mat-label>
                    <input matInput type="number" step=".5" [(ngModel)]="comission" name="comission">
                </mat-form-field>
            </mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="primary" mat-button (click)="printPage()">IMPRIMIR</button>
			</mat-card-actions>
		</mat-card>
    </div>

    <div fxLayoutAlign="center">
        <div class="ticket-print">
            <h3>Vista preliminar</h3>
            <div id="ticket" class="ticket">
                <div class="ticket-top">
                    <img [src]="'assets/img/luz-del-sur.png'" alt="">
                    <div class="msg-1">Transacción exitosa</div>
                    <div class="msg-2">{{ myDate | date: 'dd/MM/yyyy hh:mm:ss' }}</div>
                </div>
                <div class="ticket-section">
                    <div class="msg-1">LIBRERÍA BAZAR LORENA</div>
                    <div class="msg-2">Calle Maximiliano Carranza 1177</div>
                    <div class="msg-2">San Juan de Miraflores, Lima</div>
                </div>
                <div class="ticket-section">
                    <div class="msg-1">CONSTANCIA DE PAGO</div>
                    <div class="msg-2">LUZ DEL SUR</div>
                </div>
                <table class="voucher">
                    <tbody>
                    <tr>
                        <td class="item">SUMINISTRO</td>
                        <td class="sep">:</td>
                        <td class="value">{{ supply }}</td>
                    </tr>
                    <tr>
                        <td class="item">NOMBRE</td>
                        <td class="sep">:</td>
                        <td class="value">{{name}}</td>
                    </tr>
                    <tr>
                        <td class="item">Nº OPERACIÓN</td>
                        <td class="sep">:</td>
                        <td class="value">{{ operation }}</td>
                    </tr>
                    <tr>
                        <td class="item">TIPO DE PAGO</td>
                        <td class="sep">:</td>
                        <td class="value">{{ payment_type }}</td>
                    </tr>
                    <tr>
                        <td class="item">MONTO</td>
                        <td class="sep">:</td>
                        <td class="value">
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <div>S/</div>
                            <div>{{ amount | number:'1.2-2' }}</div>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="item">COMISIÓN</td>
                        <td class="sep">:</td>
                        <td class="value">
                            <div fxLayout="row" fxLayoutAlign="space-between">
                            <div>S/</div>
                            <div>{{ comission | number:'1.2-2' }}</div>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="item">MONTO TOTAL</td>
                        <td class="sep">:</td>
                        <td class="value">
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <div>S/</div>
                            <div>{{ amount + comission | number:'1.2-2' }}</div>
                        </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="ticket-section">
                    <div class="msg-3">PAGO DE RECIBO SUJETO A COMISIÓN</div>
                    <div class="msg-4">Antes de retirarse de la ventanilla revise sus datos y verifique su vuelto. Conserve su Constancia de Pago, acredita la transacción realizada.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br>